# Environment variables
.env

# Python
__pycache__/
*.py[cod]
*.pyo
venv/
.venv/
*.egg-info/
dist/
build/

# Jupyter
.ipynb_checkpoints/

# IDE
.idea/
.vscode/

# Gradio cache
.gradio/

# OS
.DS_Store
Thumbs.db
